section.section-products{
    width: 100%;
    position: relative;
}

section.section-products > div.products-totalPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

section.section-products > form.products-form{
    margin-bottom: 30px;
}

section.section-products > div.products-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

section.section-products > div.products-content > article.content-article{
    width: calc((100% / 4) - 20px);
    padding: 10px;
}


section.section-products > div.products-content > article.content-article > div.article-header{
    height: 100px;
    background-color: rebeccapurpled;
}

section.section-products > div.available-products{
    position: absolute;
    right: -40px;
    top: 300px;
    z-index: 2;
}

section.section-products > div.available-products > p{
}