main.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.main > div.content-app{
    width: 80%;
    height: 80%;
}

main.main > div.content-app > ul.app-list > li{
    list-style: none;
    display: flex;
    gap: 10px;
}

main.main > div.content-app > ul.app-list > li > span:nth-child(1){
    color: rgb(0, 132, 255);
    font-weight: bold;
}

div#error-message{
    color: rgb(240, 47, 47);
}